# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
local_settings.py
db.sqlite3-journal
jadvallite.service
media/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Migrations (ixtiyoriy — kerak bo'lsa olib tashlang)
# jadval/migrations/

# Static files (collectstatic chiqishi)
staticfiles/
static_root/
